* {box-sizing: border-box; padding: 0; margin: 0;}

footer {
	display: flex;
	width: 100vw;
	height: 13em;
	flex-direction: column;
	text-align: center;
	color: var(--home-color);
	background-color: black;
}

img {
	height: 1em;
	width: 1em;
	margin: 1em;
}

img:hover {
	box-shadow: 0 0 0.25em 0.25em #1e92fd;
	transition: 1.5s;
	height: 1.2em;
	width: 1.2em;

}

a {
	text-decoration: none;
	color: var(--home-color);
}

a:hover {
	color: #1e92fd;
	transition: 1.5s;
}

.footer {
	color: white;
	margin-top: 1em;
}