* {box-sizing: border-box; padding: 0; margin: 0;}

body {
	text-align: center;
	background-color: black;
	color: white;
	height: 100vh;
}

h1 {
	font-weight: 700;
	font-size: var(--home-font-size);
    color: var(--home-color);
}

main {
	padding: 1em;
}

.sponsors {
	display: flex;
	padding-top: 1em;
	justify-content: center;
	flex-wrap: wrap;
}

h2 {
	margin-top: 2em;
}

.reg-img {
	height: 10em;
	width: 20em;
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	transition: all 1s;
	
}

.reg-img:hover {
	box-shadow: 0 0 0.6em 0.4em #84a3ff;
	transform: scale(1.1);
}

form {
	display: flex;
	flex-direction: column;
	margin: 1em;
	input[type=text], [type=email]{
		background-color: white;
		width: 30em;
		padding: 1em;
		border-radius: 1em;
		text-align: center;
		border: 0.3em solid lightblue;
		margin: 1em;
		transition: all 0.2s;
	}

	text-align: left;
	input[type=number] {
		background-color: white;
		width: 5em;
		padding: 1em;
		border-radius: 1em;
		text-align: center;
		border: 0.3em solid lightblue;
		margin: 1em;
		transition: all 0.2s;
	}
}

textarea {
	background-color: white;
		width: 25em;
		padding: 1em;
		border-radius: 1em;
		text-align: center;
		border: 0.3em solid lightblue;
		margin: 1em;
		transition: all 0.2s;
}

input[type=text]:hover, [type=email]:hover, input[type=number]:hover, textarea:hover {
	box-shadow: 0 0 0.6em 0.4em #84a3ff;
}

.allergies {
	margin-top: 2em;
}

/* div > .parag-form {
	
} */

.radio {
	display: inline-flex;
	overflow: hidden;
	border-radius: 1em;
	box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
}

.radio__input {
	display: none;
}

.radio__label {
	padding: 0.5em 1em;
	font-weight: bold;
	background-color: #84a3ff;
	color: black;
	cursor: pointer;
	transition: all 0.1s;

}

.radio__label:first-of-type {
	border-radius: 1em 0 0 1em;
}

.radio__label:last-of-type {
	border-radius: 0 1em 1em 0;
}

.radio__label:not(:last-of-type) {
	border-right: 2px solid black;

}

.radio__input:checked + .radio__label {
	background-color: #FFD700;
}

label {
	text-transform: uppercase;
}

.container-radio {
	display: flex;
	height: 3em;
	flex-wrap: wrap;
	align-items: center;
	margin: 1em;
}