* {box-sizing: border-box; padding: 0; margin: 0;
}

div {
	display: flex;
	background-image: url(/Images/About.jpg);
	width: 100%;
	height: 40rem;
	background-repeat: no-repeat;
	background-size: cover;
}
